# Version control
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# Development only
pipelines/
research/
scripts/
tests/
docker-compose.yml
Makefile
.streamlit/
apps/cli/

# Project specific
Faulty_solar_panel/
downloads/
logs/
*.ipynb
.pytest_cache/

# IDE
.vscode/
.idea/

# MLflow and Wandb
mlruns/
wandb/
.wandb/

# Large files
*.h5
*.hdf5
*.model
*.pkl

kaggle.json