version: "3.9"

services:
  solar-fault-api:
    build:
      context: .
    container_name: solar_fault_detector_api
    ports:
      - "5000:5000"
    volumes:
      - ./artifacts:/app/artifacts
    restart: unless-stopped
